@media only screen and (max-width:1600px) {
.box1:hover::before, .box2:hover::before, .box3:hover::before, .box3:hover::before, .box4:hover::before, .box5:hover::before, .box6:hover::before {
    content: url(output-onlinepngtools0.png);
    display: inline;
    position: absolute;
    left: -25px;
    top: -7%;
}
}
@media only screen and (max-width:1500px) {
    .box1:hover::before, .box2:hover::before, .box3:hover::before, .box3:hover::before, .box4:hover::before, .box5:hover::before, .box6:hover::before {
        content: url(output-onlinepngtools0.png);
        display: inline;
        position: absolute;
        left: -48px;
        top: -7%;
    }
    }
    @media only screen and (max-width:1400px) {
        .box1:hover::before, .box2:hover::before, .box3:hover::before, .box3:hover::before, .box4:hover::before, .box5:hover::before, .box6:hover::before {
            content: url("image1.png");
            display: inline;
            position: absolute;
            left: 3px;
            top: -1%;
        }
        }
        @media only screen and (max-width:1300px) {
            .box1:hover::before, .box2:hover::before, .box3:hover::before, .box3:hover::before, .box4:hover::before, .box5:hover::before, .box6:hover::before {
                content: url("image1.png");
                display: inline;
                position: absolute;
                left: -13px;
                top: -3%;
            }
            }
            @media only screen and (max-width:1200px) {
                .box1:hover::before, .box2:hover::before, .box3:hover::before, .box3:hover::before, .box4:hover::before, .box5:hover::before, .box6:hover::before {
                    content: url("image1.png");
                    display: inline;
                    position: absolute;
                    left: -35px;
                    top: -9%;
                }
                }
                @media only screen and (max-width:1100px) {
                    .box1:hover::before, .box2:hover::before, .box3:hover::before, .box3:hover::before, .box4:hover::before, .box5:hover::before, .box6:hover::before {
                        content: url("image1.png");
                        display: inline;
                        position: absolute;
                        left: -44px;
                        top: -13%;
                    }
                    }
                    @media only screen and (max-width: 1050px){
                    .box1:hover::before, .box2:hover::before, .box3:hover::before, .box3:hover::before, .box4:hover::before, .box5:hover::before, .box6:hover::before {
                        content: url("image1.png");
                        display: inline;
                        position: absolute;
                        left: -48px;
                        top: -16%;
                    }
                }
              
                
                @media only screen and (max-width: 1000px){
                    .box1:hover::before, .box2:hover::before, .box3:hover::before, .box3:hover::before, .box4:hover::before, .box5:hover::before, .box6:hover::before {
                        content: "";
                        display: inline;
                        position: absolute;
                        left: -46px;
                        top: -16%;
                    }
                                    }