@font-face {
    font-family: "Good Sans";
    font-weight: normal;
    src: url("Portfolio copy/Portfolio copy/Fonts/Good Sans/GoodSans-Regular.otf");
}
@font-face {
    font-family: "Good Sans";
    font-weight:700;
    src: url("Portfolio copy/Portfolio copy/Fonts/Good Sans/GoodSans-Medium.otf");
}
@font-face {
    font-family: "Good Sans";
    font-weight:bold;
    src: url("Portfolio copy/Portfolio copy/Fonts/Good Sans/GoodSans-Bold.otf");
}
@font-face {
    font-family: "monarcha";
    src: url("Portfolio copy/Portfolio copy/Fonts/Monarcha/Monarcha.rtf");
}

body{
    background-color: #FFFFF3;
    font-family: 'Good Sans', sans-serif;
}
.main{
    margin: 2rem;
    border: 1px solid black;
    border-radius: 1rem;
    height: max-content;
}
.logo{
    margin: 2rem;
    display: inline;
    place-self: center;
}
.logo img {
    width: 285px;
}
.nav{
    display: grid;
grid-template-columns: 40% 50%;
}
nav{
    display: inherit;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
header {
    display: grid;
    grid-template-columns: 50% 40%;
    place-items: center;
    margin-top: 60px;
    font-family: "monarcha";
}
header .text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
header .text h1{
    margin-bottom: 4px;
    font-size: 36px;
    font-family: "monarcha";
}
.text p{
    font-size: 24px;
    font-family: "Good sans";
}
header .mainimg img{
    height: 449px;
    width: 373px;
}
.icon{
    width: 100px;
    height: 100px;
    position: absolute;
}
#icon1{
    margin-top: 0px;
    right: 20%;
}
#icon5{
    margin-top: 0px;
    left: 14%;
}
#icon4{
    margin-top: 50px;
    left: 41%;
}
#icon2{
    margin-top: 322px;
    right: 37%;
}
#icon3{
    margin-top: 310px;
    left: 32%;
}

li{
    list-style: none;
}

.hamburger input[type="checkbox"]{
    width: 40px;
    height: 32px;
    position: absolute;
    top: 5px;
    left: 6px;
    display: block;
    z-index: 3;
    opacity: 0;
}

.hamburgerlines{
    width: 26px;
    height: 32px;
    position: absolute;
    top: 3px;
    left: -5px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburgerlines .lines{
    display: block;
    height: 4px;
    width: 100%;
    background: #232323;
    border-radius: 10px;
}

.hamburger{
    position: relative;
}

.menu-items{
    padding-top: 90px;
    transform: translate(-110%);
    transition: transform 0.5s ease-in-out;
    padding-left: 15px;
    background: transparent;
    margin-top: -10px;
    color: #fff;
    padding-bottom: 1rem;
    max-width: 400px;
    width: 90%;
    height: 100vh;
    overflow: scroll;
}

.menu-items li{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.hamburger input[type="checkbox"]:checked ~ .menu-items{
    display: block;
    transform: translate(0%);
    background: #fffdf3;
    color: black;
    width: 100%;
    
}
span.lines.line3 {
    margin-bottom: 10px;
}

.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .lines{
    background: rgb(0, 0, 0);
}

.hamburgerlines .line1{
   transform-origin: 0% 0%;
   transition: transform 0.3s ease-in-out;    
}

.hamburgerlines .line3{ 
   transform-origin: 0% 100%;
   transition: transform 0.3s ease-in-out;  
}

.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .line1{
    transform: rotate(45deg);
}

.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .line2{
    display: none;
}


.hamburger input[type="checkbox"]:checked ~ .hamburgerlines .line3{
    transform: rotate(-45deg);
}
@media only screen and (max-width: 1510px) {
    #icon1{
        margin-top: 0px;
        right: 18%;
    }
    #icon2{
        margin-top: 322px;
        right: 40%;
    }
  }
  @media only screen and (max-width: 1278px) {
    #icon1{
        margin-top: 0px;
        right: 16%;
    }
    #icon2{
        margin-top: 322px;
        right: 41%;
    }
  }
  @media only screen and (max-width: 1100px) {
    #icon3{
        margin-top: 340px;
        left: 28%;
    }
  }
  @media only screen and (max-width: 1000px) {
    #icon4{
       display: none;
    }
    #icon3{
        display: none;
    }
    #icon1{
        margin-top: 0px;
        right: 13%;
    }
    #icon2{
        margin-top: 322px;
        right: 43%;
    }
  }
  @media only screen and (max-width: 1000px) {
nav{
    display: none;
}
.logo img {
    width: 200px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
header .text{
    align-items: center;
    text-align: center;
}
.icon7 {
    width: 82px;
    height: 100px;
    position: absolute;
}
#icon4{
    display: block;
    margin-top: -238px;
    left: 26%;
 }
 #icon3{
     display: block;
     margin-top: 90px;
     left: 57%;
 }
 #icon1{
     
    margin-top: -224px;
    right: 24%;

 }
 #icon2{
    margin-top: 43px;
    right: 61%;

 }
 #icon5{
     display: none;
 }
  }
  @media only screen and (max-width:700px) {
    .text p {
        font-size: 17px;
    }
    header .text h1 {
        margin-bottom: 4px;
        font-size: 25px;
    }
    #icon4{
        left: 25%;
     }
     #icon3{
        margin-top: 108px;
    left: 63%;
     }
     #icon1{
        right: 24%;
     }
     #icon2{
        right: 65%;
     }
      }
      @media only screen and (max-width:650px) {
        header .mainimg img {
            height: 362px;
            width: 300px;
        }
        #icon4{
            
    left: 28%;
    margin-top: -194px;
         }
         #icon3{
            margin-top: 50px;
            left: 59%;
         }
         #icon1{
            margin-top: -210px;
            right:29%;
         }
         #icon2{
            right: 65%;
         }
         .icon {
            width: 70px;
            height: 70px;
            position: absolute;
        }
        
          }
        
        @media only screen and (max-width:600px) {
          header .mainimg img {
              height: 362px;
              width: 300px;
          }
          #icon4{
              
      left: 24%;
      margin-top: -194px;
           }
           #icon3{
              margin-top: 82px;
              left: 59%;
           }
           #icon1{
              margin-top: -210px;
              right:29%;
           }
           #icon2{
              right: 65%;
           }
           .icon {
              width: 70px;
              height: 70px;
              position: absolute;
          }
          
            }
            @media only screen and (max-width:530px) {
                header .mainimg img {
                    height: 362px;
                    width: 300px;
                }
                #icon4{
                    
            left: 22%;
            margin-top: -194px;
                 }
                 #icon3{
                    margin-top: 82px;
                    left: 59%;
                 }
                 #icon1{
                    margin-top: -210px;
                    right:26%;
                 }
                 #icon2{
                    right: 65%;
                 }
                 .icon {
                    width: 70px;
                    height: 70px;
                    position: absolute;
                }
                
                  }
        
          @media only screen and (max-width:500px) {
            header .mainimg img {
                height: 362px;
                width: 300px;
            }
            .text p {
                font-size: 16px;
            }
            
            
            #icon4{
                left: 16%;
             }
             #icon3{
                margin-top: 51px;
             }
             #icon1{
                margin-top: -232px;
    
                right: 22%;
             }
             #icon2{      
                 margin-top: 77px;
                right: 61%;
             }
             .icon {
                width: 70px;
                height: 70px;
                position: absolute;
            }
          }
          @media only screen and (max-width:450px) {
            header .mainimg img {
                height: 362px;
                width: 300px;
            }
            #icon4{
               
    left: 15%;
    margin-top: -170px;
}



             
             #icon3{
                margin-top: 50px;

             }
             #icon1{
                
                margin-top: -213px;


    
                right: 18%;
             }
             #icon2{      
                margin-top: 63px;
    right: 63%;
             }
             .icon {
                width: 60px;
                height: 60px;
                position: absolute;
            }
            .text p {
                font-size: 16px;
            }
            
            
        }

          @media only screen and (max-width:394px) {
            header .mainimg img {
                height: 302px;
                width: 235px;
            }
            #icon4{
                left:16%;
             }
             #icon3{
               
    margin-top: 91px;

                left: 54%;
             }
             #icon1{
                margin-top: -149px;
    
                right: 22%;
             }
             #icon2{      
               
                margin-top: 62px;



                right: 63%;
             }
             .icon {
                width: 50px;
                height: 50px;
                position: absolute;
            }
          }
          @media only screen and (max-width:359px) {
            header .mainimg img {
                height: 302px;
                width: 235px;
            }
            #icon4{
                left:16%;

                margin-top: -155px;

             }
             #icon3{
                margin-top: 85px;
                left: 54%;
             }
             #icon1{
                margin-top: -158px;
             }
             #icon2{      
                margin-top: 50px;
                right: 67%;
             }
             .icon {
                width: 50px;
                height: 50px;
                position: absolute;
            }
          }


section{
    display: grid;
    grid-template-columns: 40%  40%;
    place-items: center;
    place-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}
section img{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width:600px) {
    section{
        grid-template-columns: 100%;
        place-items: center;
        place-content: center;
        margin: 2rem;
        margin-top: 4rem;
        margin-bottom: 0rem;
    }
}
footer{
    display: grid;
    grid-template-columns: 40% 10% 43%;
    place-content: center;
    place-items: center;
    grid-column-gap: 2rem;
    margin-bottom: 0rem;
    margin-left: 3rem;
}
footer h3{
    font-size: 1rem;
    font-weight: normal;
}
footer img{
    width: 56px;
}
.foot10{
    display: grid;
    grid-template-columns: 70% 40%;
    grid-column-gap: 2rem;
    place-content: center;
    place-items: center;
}
.foot11{
    display: grid;
    grid-template-columns: 67% 77%;
    grid-column-gap: 2rem;
    place-content: center;
    place-items: center;
}
.footer{
    display: none;
}
.hamburger{
    display: none;
}
@media only screen and (max-width:1000px) {
footer{
    display: none;
}
header .text{
    width: 90%;
    margin-top: 34px;
}
.footer h3{
    font-weight: normal;
    font-size: 1rem;
}

.hamburgerlines {
    width: 26px;
    height: 32px;
    position: absolute;
    top: 11px;
    left: 6px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hamburger {
    display: inline;
    position: absolute;
    top: 5%;

    right: 14%;
    width: 72vw;
    z-index: 3;
}
.footer{
    display: flex;
    flex-direction: column;
}
.footer2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 13px;
}
.footer1{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.footer img{
    width: 40px;
}
}
.box:hover {
    position: relative;
}

.box1:hover::before ,.box2:hover::before ,.box3:hover::before ,.box3:hover::before ,.box4:hover::before ,.box5:hover::before ,.box6:hover::before{
    content:url("output-onlinepngtools0.png"); /* no need for qoutes */

    display: inline;
    position: absolute;
    left: 0; /* change this value to one that suits you */
    top: 0%; /* change this value to one that suits you */
  
}
@media only screen and (max-width:500px) {
    .footer img{
        width: 40px;
    }
    .footer h3{
        font-size: 0.9rem;
    }
}
@media only screen and (max-width:422px) {
    header .mainimg img {
        height: 302px;
        width: 235px;
    }
    .footer h3{
        font-size: 0.6rem;
    }
    .hamburger{
        display: inline;
        position: absolute;
        top: 4%;

        right: 12%;
        width: 77vw;
        z-index: 3;
    }
    .hamburgerlines {
        width: 26px;
        height: 32px;
        position: absolute;
        top: 11px;
        left: 0px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    header .text{
        width: 90%;
    }
    .main{
        margin:1rem;
    }
    
    header .text h1 {
        margin-bottom: 4px;
        font-size: 19px;
    }
    header .text p{
        font-size: 15px;
    }
    #icon4{
        left:19%;
     }
     #icon3{
        margin-top: 26px;
        left: 59%;
     }
     #icon1{
        margin-top: -191px;

        right: 22%;
     }
     #icon2{      
        margin-top: 31px;

        right: 63%;
     }
     .icon {
        width: 60px;
        height: 60px;
        position: absolute;
    }
  }
  .footer1{
    margin-bottom: 0px;
}
@media only screen and (max-width:390px) {
    #icon1 {
        margin-top: -181px;
        right: 22%;
    }
    #icon3 {
        margin-top: 39px;
    }
    #icon4 {
        left: 15%;
        margin-top: -161px;
    }
}
.icon7 {
    width: 82px;
    height: 100px;
    position: absolute;
}